.bibliography {
	 margin-bottom: 50px;
	 margin-top: 20px;
	 list-style-type: none;
}
 .bibliography li {
	 margin: 10px 0;
	 position: relative;
}
 .bibliography li a.abstract, .bibliography li a.bibtex {
	 cursor: pointer;
}
 .bibliography li .hidden {
	 max-height: 0px;
	 overflow: hidden;
	 text-align: justify;
	 -webkit-transition: 0.15s ease;
	 -moz-transition: 0.15s ease;
	 -ms-transition: 0.15s ease;
	 -o-transition: 0.15s ease;
	 transition: all 0.15s ease;
}
 .bibliography li .hidden p {
	 line-height: 1.4em;
	 margin: 10px;
}
 .bibliography li .hidden pre {
	 font-size: 1em;
	 line-height: 1.4em;
	 padding: 10px;
}
 .bibliography li .hidden.open {
	 max-height: 100em;
	 -webkit-transition: 0.15s ease;
	 -moz-transition: 0.15s ease;
	 -ms-transition: 0.15s ease;
	 -o-transition: 0.15s ease;
	 transition: all 0.15s ease;
}
 .bibliography li span.abstract.hidden {
	 border: dashed 1px;
}
