---
---
{{ reference }}
{% if entry.pubstate %}
[{{ entry.pubstate }}]
{% endif %}

{% if entry.abstract %}
<button class="btn" onclick="onclick="toggleAbstract{{entry.key}}()">Abstract</button>
{% endif %}
                                                                 
{% if entry.abstract %}
<div id="a{{entry.key}}" style="display: none; background-color:black; border-radius:5px; padding:10px; margin-bottom:20px;">
<pre>{{ entry.bibtex | remove: "entry.abstract" }}</pre>
</div>
{% else %}
<div id="a{{entry.key}}" style="display: none; background-color:black; border-radius:5px; padding:10px; margin-bottom:20px;">
<pre>{{ entry.bibtex }}</pre>
</div>
{% endif %}

<div id="b{{entry.key}}" style="display: none; background-color:black; border-radius:5px; padding:10px; margin-bottom:20px;">
<pre>{{entry.abstract}}</pre>
</div>
