---
---
<style>ol.bibliography li { list-style: none }</style>

{{ reference }}
{% if entry.pubstate %}
[{{ entry.pubstate }}]
{% endif %}

<div class="links">
    <!-- Hidden abstract block -->
    {% if entry.abstract %}
    <div class="abstract hidden">
      <p>{{ entry.abstract }}</p>
    </div>
    {% endif %}

    <!-- Hidden bibtex block -->
    {% if entry.bibtex_show %}
    <div class="bibtex hidden">
      {% highlight bibtex %}{{ entry.bibtex }}{% endhighlight %}
    </div>
    {% endif %}
</div>
