---
---
{{ reference }}
{% if entry.pubstate %}
[{{ entry.pubstate }}]
{% endif %}

{% if entry.abstract %}
<button class="btn" onclick="toggleAbstract{{entry.key}}()">Abstract</button>
{% endif %}
                                                                 
{% if entry.abstract %}
<div id="a{{entry.key}}" class="hidden-abstract"><pre>{{ entry.abstract }}</pre></div>
{% endif %}

{% if entry.bibtex_show %}
<button class="btn" onclick="toggleBibtex{{entry.key}}()">BibTeX</button>
{% endif %}
                                                
{% if entry.bibtex_show %}
<div id="b{{entry.key}}" class="hidden-bibtex"><pre>{{entry.bibtex}}</pre></div>
{% endif %}
